.navigation{
    &--desktop{
        display: none;

        @include medium-up{
            display: block;

            & ul{
                display: flex;
            }
            & a{
                padding: 0.8rem;
                margin: 0 2rem;
                color: $gray-dark;
                line-height: $line-height-base;
                font-weight: $font-weight-semibold;
                transition: color .3s linear;

                &:hover{
                    color: $violet-primary;
                }
                &.active{
                    color: $violet-primary;
                }
            }
        }
    }

    &--mobile{
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        left: 20%;
        bottom: 0;
        z-index: 20;
    }
}

.menu{
    display: flex;
    flex-direction: column;

    &__top{
        padding: 1rem 1.2rem;
        border-bottom: 1px solid $violet-primary;
        
        &-heading{
            font-size: 40px;
            color: $violet-primary;
            font-weight: $font-weight-bold;
        }
    }
    
    &__list{
        padding: 3rem 1.3rem 1rem;
        border-bottom: 1px solid $violet-primary;
        
        & a{
            color: $gray-dark;
            display: block;
            margin-bottom: 1.8rem;
            font-weight: $font-weight-semibold;
            
            &:hover{
                color: $violet-primary;
            }
            &.active{
                color: $violet-primary;
            }
        }
    }
    
    &__cta{
        padding: 3rem 1.3rem 1rem;
        
    }
}