*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: $gray-dark;
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-base;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;

    & li{
        font-size: $font-size-base;
    }
}

a, li{
    text-decoration: none;
}
