.header{
    padding-top: 1.5rem;
    position: relative;

    @include medium-up{
        padding-top: 3rem;
    }

    & .flex{
        justify-content: space-between;
    }

    &__btn{
        display: none;

        @include medium-up{
            display: inline-block;
        }
    } 
}