.section{
    padding-top: 3rem;

    @include medium-up{
        padding-top: 5rem;
    }
}

.showcase{
    overflow: hidden;
    margin: 0 1rem;

    &__text{
        text-align: center;
        margin-top: 3rem;

        @include medium-up{
            text-align: left;
            width: 60%;
            margin-top: 6rem;
        }

        h1{
            margin-bottom: 1.5rem;

            @include medium-up {
                margin-bottom: 2.4rem;
            }
        }
        & p{
            @include paragraph;
            @include medium-up{
                margin-bottom: 3rem;
            }
        }
    }

    &__img{
        z-index: -1;

        &--desktop{
            display: none;

            @include small-up{
                display: inline-block;
                position: relative;
                right: -15px;
                margin-top: 30px;
            }

            @include medium-up{
                position: absolute;
                top: 0;
                right: 0;
                width: 45%;
                margin-top: unset;
            }
        }
        &--mobile{
            display: inline-block;
            position: relative;
            right: -15px;
            margin-top: 3rem;

            @include small-up{
                display: none;
            }
        }
    }

    & .flex{
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        @include medium-up{
            flex-direction: row;
        }
    }
}

.application{
    &__info{
        font-weight: $font-weight-semibold;
        font-size: 2rem;
        line-height: 36px;
        margin-bottom: 20px;

        @include medium-up{
            font-size: $font-size-2;
        }
    }

    &__text{
        text-align: center;

        @include medium-up{
            text-align: left;
            margin-left: 50px;
        }
    }

    &__img{
        &--desktop{
            display: none;

            @include medium-up{
                display: inline-block;
            }
        }
        &--mobile{
            display: inline-block;

            @include medium-up{
                display: none;
            }
        }
    }

    & p{
        @include paragraph;
    }

    & .grid{
        grid-template-columns: 1fr;

        @include medium-up{
            grid-template-columns: 45% 55%;
        }
    }
}

.ar{
    & .grid{
        grid-template-columns: 1fr;

        @include medium-up{
            grid-template-columns: 45% 55%;
            position: relative;
            background: $gradient;
            border-radius: 2rem;
            padding: 134px 55px;
        }
    }
    & p{
        @include paragraph;
    }
    &__text{
        text-align: center;

        @include medium-up{
            text-align: left;
        }
    }
    &__img{
        &--mobile{
            display: inline-block;
            justify-self: center;

            @include medium-up{
                display: none;
            }
        }
        &--desktop{
            display: none;

            @include medium-up{
                display: inline-block;
                position: absolute;
                right: 0;
                top: -100px;
                width: 45%;
            }
        }

    }
}

.socialmedia{
    img{
        justify-self: center;

    }
    &__text{
        color: $black;
        font-weight: $font-weight-bold;
        font-size: $font-size-3;
        line-height: $line-height-medium;
        text-align: center;

        @include medium-up{
            font-size: $font-size-4;
            line-height: $line-height-large;
            text-align: left;
        }
    }
    & .grid{
        padding-bottom: 50px;
        grid-template-columns: 1fr;
        border-bottom: 1px solid $violet-light;
        margin: 0 15px;

        @include medium-up{
            grid-template-columns: 45% 55%;
            margin: 0 auto;
        }
    }
}